node_modules/
www/
release/
android/.gradle/
android/**/build/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor*.json
android/capacitor-cordova-android-plugins/
android/local.properties
**/google-services.json
**/*.jks
**/*.keystore
**/key.properties
**/keystore.properties
bundle-info.json
dist/
